body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  user-select: none;
}



#label-box {
  max-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#label-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}


#editor {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.editor-action-panel {
  display: flex;
  position: absolute;
  background-color: rgb(41, 60, 54);
  --main-axis-dim: 200px;
  --alt-axis-dim: 50px;
  --dist-from-edge: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.editor-action-panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
}

.editor-action-panel button svg {
  color: white;
  transition: all ease-in-out 200ms;
}

.editor-action-panel button:hover,
.editor-action-panel button.active-icon {
  background-color: white;
}

.editor-action-panel button:hover svg,
.editor-action-panel button.active-icon svg {
  color: rgb(10 105 75);
}

.editor-action-panel button:active {
  background-color: rgb(255, 255, 255);
}

.editor-action-panel button:active svg {
  color: rgb(0, 0, 0);
}

.editor-action-panel[data-pos="top"] {
  height: var(--alt-axis-dim);
  min-width: var(--main-axis-dim);
  left: 50%;
  top: var(--dist-from-edge);
  transform: translate(-50%, 0%);
}

.editor-action-panel[data-pos="left"] {
  min-height: var(--main-axis-dim);
  width: var(--alt-axis-dim);
  left: var(--dist-from-edge);
  top: 50%;
  transform: translate(0%, -50%);
  flex-direction: column;
}

.editor-action-panel[data-pos="right"] {
  min-height: var(--main-axis-dim);
  width: var(--alt-axis-dim);
  right: var(--dist-from-edge);
  top: 50%;
  transform: translate(0%, -50%);
  flex-direction: column;
}

.editor-action-panel[data-pos="bottom"] {
  height: var(--alt-axis-dim);
  min-width: var(--main-axis-dim);
  left: 50%;
  bottom: var(--dist-from-edge);
  transform: translate(-50%, 0%);
}

polygon {
  cursor: pointer;
}

.editor-layer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.editor-layer::-webkit-scrollbar {
  display: none;
}

.editor-layer>div {
  pointer-events: all;
}

.control-point:hover {
  cursor: pointer;
}


.side-panel {
  height: 100%;
  position: absolute;
  width: fit-content;
  left: 0;
  top: 0%;
}

.side-panel-header {}

.side-panel-content {
  display: flex;
  flex-direction: column;
}