body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  user-select: none;
}



#label-box {
  max-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#label-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  --color-background: rgb(69, 67, 67);
  --color-primary: rgb(41, 60, 54);
  --color-secondary: rgb(10 105 75);
  --color-icon: white;
  background-color: var(--color-background);
}


#editor {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.editor-action-panel {
  display: flex;
  position: absolute;
  --main-axis-dim: 200px;
  --alt-axis-dim: 50px;
  --dist-from-edge: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-primary);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--color-icon);
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

button[style-border="true"]{
  border: 2px solid white;
}

button{
  border: none;
}

button svg {
  color: inherit;
  transition: all ease-in-out 200ms;
}

button:hover,
button.active-icon {
  background-color: var(--color-icon);
  color: var(--color-secondary);
}

button:active {
  background-color: var(--color-icon);
  color: rgb(0, 0, 0);
}


input[type="text"]{
  text-decoration: none;
  height: 40px;
  border-radius: 10px;
  border: none;
}

/* button[data-inversed="true"] {
  background-color: var(--color-icon);
  color: var(--color-secondary);
}

button[data-inversed="true"]:hover,
button[data-inversed="true"].active-icon {
  color: var(--color-icon);
  background-color: transparent;
} */
/* 
button:active {
  background-color: var(--color-icon);
  color: rgb(0, 0, 0);
} */

.editor-action-panel[data-pos="top"] {
  height: var(--alt-axis-dim);
  min-width: var(--main-axis-dim);
  left: 50%;
  top: var(--dist-from-edge);
  transform: translate(-50%, 0%);
}

.editor-action-panel[data-pos="left"] {
  min-height: var(--main-axis-dim);
  width: var(--alt-axis-dim);
  left: var(--dist-from-edge);
  top: 50%;
  transform: translate(0%, -50%);
  flex-direction: column;
}

.editor-action-panel[data-pos="right"] {
  min-height: var(--main-axis-dim);
  width: var(--alt-axis-dim);
  right: var(--dist-from-edge);
  top: 50%;
  transform: translate(0%, -50%);
  flex-direction: column;
}

.editor-action-panel[data-pos="bottom"] {
  height: var(--alt-axis-dim);
  min-width: var(--main-axis-dim);
  left: 50%;
  bottom: var(--dist-from-edge);
  transform: translate(-50%, 0%);
}

polygon {
  cursor: pointer;
}

.editor-layer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.editor-layer::-webkit-scrollbar {
  display: none;
}

.editor-layer>div {
  pointer-events: all;
}

.control-point:hover {
  cursor: pointer;
}


.side-panel {
  height: 100%;
  position: absolute;
  width: fit-content;
  left: -100%;
  top: 0%;
  padding: 0px 20px;
  background-color: var(--color-primary);
  transition: all ease-in-out 200ms;
}

.side-panel[data-is-open="true"] {
  left: 0%;
}

.side-panel-header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-panel-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 80px;
}

h2, h3 {
  color: var(--color-icon);
  margin: 0px;
}
h3 {
  font-size: 20px;
}


.start-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.plugin-list-item {
  height: 40px;
  margin: 5px 0px;
}

.dialog-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: 20px;
}